@font-face {
font-family: 'Daliy Quantum';
src: url('DailyQuantum.ttf');
}

body {
  text-align: center;
  margin: 0px;
  margin-right: 0px;
  overflow-x: hidden;
}


/*********************************************************************************************************************************************
**********************************************************************************************************************************************
**********************************************************************************************************************************************


RULES: Each Content-Section Has Orders, it follows:

      1: Css
      2: Media Queries (Smallest To Biggest)




Table of Contents

1:  Navigation
2:
3:
4:
5:
6:
7:
8:
9:
10:



**********************************************************************************************************************************************
**********************************************************************************************************************************************
***********************************************************************************************************************************************/


/*********************************************************************************************************************************************
---------------------------Navigation CSS----------------------------
**********************************************************************************************************************************************/


.menu {
  padding-top: 100px;
  text-align: center;
}
#menu {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.left {
  float: left;
  margin-left: 30px;
}
.right {
  float: right;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 35px;
  }

a {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
  color: black;
  text-decoration: none;

}

.main #menu { /* Borders */
border-top: 2px solid white;
border-bottom: 2px solid white;
padding-top: 10px;
padding-bottom: 10px;
}

.hamburger,
.hamburger-nav {
  display: none;
}




/*Phone Size*/
@media all and (max-width:480px) {

header {
  width: 100%;
  z-index: 1;
}

.hamburger,
.hamburger-nav {
  display: inline;
}

.main-header {
display: none;
}

.hamburger {
  position: relative;
  display: block;
  background-color: orange;
}

.hamburger-nav {

}

#hamburger-menu {
  margin: 10px;
  color: white;
  font-size: 30px;
  background-color: #333
}

#hamburger-menu:hover {
  color: yellow;
}

.logo {
  background-image: url(background.png);
  background-size: cover;
  margin-top: 0px;
  padding-top: 30px;
}
#main-menu {
margin-top: 0px;
padding-top: 0px;
}
}

@media screen and (min-width:481px) and (max-width:720px) {

  #menu {
    font-size: 15px;
  }


}


}







}


}


}











/*********************************************************************************************************************************************
-------------------------------------------MAIN PAGE CSS------------------------------------------------------------------------------------
*********************************************************************************************************************************************/


.front {
    text-align: center;
    color: white;
    margin-top: 80px;
  }

  #front_h2 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
  }
  #front_p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    }

.main {
  background-image: url(front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}


  .main .menu {
    padding-top: 60px;
    text-align: center;
  }
.main a {
  color: white;
}


@media screen and (max-width:480px) {

#front_h2 {
  font-size: 30px;
  position: relative;
}

#front_p {
  font size: 25px;
  position: relative;
}

}























.city-banner {
  background-image: url(city-background.jpg);
  background-size: cover;
  height: 25vh;
  text-align: center;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  padding-top: 10vh;
}

h3 {
background: darkcyan;
font-family: 'Oswald', sans-serif;
padding: 15px;
font-size: 30px;
}

.video {
  background-image: url(film-dir.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  background-color: #333;
  padding: 30px;
}

.form {
  background-image: url(vancouver-towers.jpg);
  background-size: cover;
  background-repeat: none;
  text-align: center;
  padding-bottom: 30px;
}

form {
  margin-top: 100px;
}

.form-1 {

}

.form-2 {

}










/*Normal Classes*/

h2 {
  background-color: black;
  padding: 50px;
  color: white;
  margin-top: 50px;
  font-family: 'Daliy Quantum';
  font-size: 90px;
}



.Weird {
  margin-top: 500px;
  margin-bottom: 200px;
  font-family: 'Montserrat', sans-serif;
}









/*introduction paragraph/section*/
.Introduction {
display: block;
text-align: center;
margin-top: 55%;
}

@media screen and (min-width: 720px) {

#Introduction-Paragraph {
  margin: 25%;
  font-size: 100%;
}

}




/*Hollywood North Page*/

.Why {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1000px;
}

#intro_sentence {
  font-size: 50px;
  margin-bottom: 80px;
}

.reasons {
  margin: 30px;
  margin-bottom: 50px;
  font-size: 50px;
}

#tax {
float: left;
margin-left: 80px;
}

#culture {
float: right;
margin-right: 80px;
}

#location {
  float: left;
  margin-left: 80px;
}

#trademark {
  float: right;
  margin-right: 80px;
}

@media all and (min-width: 720px) {

#trademark, #location, #culture, #tax {
float: none;
background: blue;
transition-property: background;
transition-duration: 0.3s;
transition-timing-function: ease;
}

.reasons {
  font-size: 200%;
  margin-bottom: 150px;
}

}






/*Our City Page*/

.City {
font-family: Open Sans;
margin-bottom: 100px;
}

.Weird #our-city {
  margin-top: 100px;
}





/*FILMS PAGE*/

#films-from-vancouver h3 {
  font-family: 'Open Sans';
  font-size: 200%
}

.article-t {
  background-color: grey;
  border-radius: 15px;
  margin: 100px;
  padding: 10px;
}

.article-t:hover {
  background: #690;
  box-shadow: 10px;
}

.more {
  background-color: red;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 15px;
}

@media all (min-width: 1024px) {

.more {
  display: none;
}


}]\


@@media screen {

}

















/*footer*/

footer {
  background-color: brown;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
